* {
    box-sizing: border-box;
}
body {
    font-family: arial, tahoma, helvetica;
}
.control-buttons {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #2196f3e6;
}
.control-buttons span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    background-color: #F44336;
    padding: 15px 25px;
    font-size: 30px;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
}
.game-finished {
    display: none;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: #2196f3e6;
}
.game-finished.apper {
    display: block;
    opacity: 1;
}
.game-finished .container-finished {
    margin: 400px auto;
    width: 900px;
    text-align: center;
    color: #fff;
}
.game-finished h1 {
    font-size: 70px;
    margin-bottom: 0;
    text-decoration: underline;
}
.game-finished p {
    font-size: 30px;
}
.game-finished .choosing {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin: 0 auto;
}
.game-finished .choosing button {
    font-size: 30px;
    width: 100px;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    color: #2196f3;
    cursor: pointer;
    transition: 0.3s;
}
.game-finished .choosing button:hover {
    color: #fff;
    background-color: #ffba01;
}
.info-container {
    width: 1080px;
    overflow: hidden;
    border: 1px solid #2196f3;
    font-size: 24px;
    padding: 20px;
    background-color: #f6f6f6;
    margin: 20px auto 0;
}
.info-container .name {
    float: left;
    width: 50%;
}
.info-container .tries {
    float: right;
    width: 50%;
    text-align: right;
}
/* @media (max-width: 767px) {

    .info-container {

    }
    
} */
.memory-game-blocks {
    display: flex;
    flex-wrap: wrap;
    width: 1100px;
    margin: 20px auto;
}
.memory-game-blocks.no-clicking {
    pointer-events: none;
}
.memory-game-blocks .game-block {
    height: 200px;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    margin: 0 10px 20px;
    flex: 1 0 200px;
}
.memory-game-blocks .game-block .front {
    background-color: #333;
    line-height: 200px;
}
.memory-game-blocks .game-block .front::before {
    content: "!";
    font-weight: bold;
    font-size: 140px;
    color: #fff;
}
.memory-game-blocks .game-block .back {
    background-color: #607D8B;
    transform: rotateY(180deg);
}
.memory-game-blocks .game-block .back img {
    width: 140px;
    height: 140px;
    margin-top: 30px;
}
.memory-game-blocks .game-block .face {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    backface-visibility: hidden;
    border: 1px solid #2196f3;
}
.memory-game-blocks .game-block.is-flipped,
.memory-game-blocks .game-block.has-matched {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
    pointer-events: none;
}